/* ETIQUETAS */

body{
    background-color: #faf8ef;
}
nav{
    margin-bottom: 25px;
}
h2{
    margin-top: 10px;
}



/* CLASES */

.row{
    padding-bottom: 20px; 
    border-bottom: 3px solid #f8914dd2;
    margin-bottom: 30px;
}
.col{
    margin-top: 20px;
}
.card{
    border-radius: 20px;
}
.card img{
    border-radius: 10px;
}
.imagen{
    border-radius: 20px;
    border: 5px solid rgba(194, 102, 41, 0.824)
}
.imgProductos{
    max-height: 80%;
    object-fit: cover;
}
.containerProducto{
    border: 2px solid #ffc198d2 ;
    opacity: 92%;
}
.containerProducto img{
    max-height: 400px;
}
.containerProducto:hover{
    opacity: 100%;
    width: 105%;
}
.containerProducto p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-warning{
    background-color: #ffa66bd2 ;
    border-color: #fca368d2 ;
    --bs-btn-disabled-border-color: #fca368d2 !important;
    --bs-btn-active-bg: #fca368d2 !important;
    --bs-btn-active-border-color: #fca368d2 !important;
}
.btn-warning:hover{
    background-color: #ffa66bd2 ;
    border-color: #fca368d2 ;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.247);
}
.btnIniSesion{
    background-color: #fd8f46d2 !important;
    border-color: #ca743ae3 !important;
    margin: 10px auto;
}
.comentarios{
    background-color: #ffc095d2 ;
}
.contComentario{
    background-color: #ffecdf;
    border: #bb8967b6 solid 2px;
    
}
.contenedor{
    background-color: #fddec8;
    padding: 8px;
    border: #c77d4cb6 solid 3px;
    border-radius: 10px;
}
.subContenedor{
    background-color: #fdf6f1;
    padding: auto 55px;
    padding-left: 25px;
    border: #e2ad896b solid 3px;
    border-radius: 10px;
}
.infoProducto div{
    border-bottom: #e2ad896b solid 3px;
}
.badge{
    padding: 10px;
    margin: 15px auto;
}
.containerProducto img{
    max-height: 250px;
    object-fit: cover;
}
li .page-item {
    background-color: #ffffff !important;
    border-color: #fad9c2d2 ;
}
.btn-warning:focus{
    background-color: #ffa66bd2 ;
    border: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.247);
}
.cardPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursorPointer{
    cursor: pointer !important;
}
.elimProducto{
    position: absolute;
    right: 3%;
    margin-top: 5px;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}
.editProducto{
    position: absolute;
    right: 3%;
    margin-top: 35px;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
.agregarProducto{
    position: absolute;
    right: 10%;
    width: 35px;
    cursor: pointer;
    z-index: 999999;
    padding: 0;
}
/* IDENTIFICADORES */